<app-overlay></app-overlay>
@if(productList){
<div class="d-flex flex-wrap gap-4">
  @for (product of productList.items; track $index) {
  <app-card
    [title]="product.name | uppercase"
    [imageSrc]="product.imageUrl"
    [imageAlt]="product.name"
    [description]="product.quantityPerUnit"
    [buttonLabel]="'View - ' + (product.unitPrice | appVat : 0.19 | currency)"
    (buttonClick)="onViewProduct(product)"
  ></app-card>
  }
</div>

<div class="mt-4">
  <app-pagination
    [pageIndex]="productList.pageIndex"
    [pageSize]="productList.pageSize"
    [totalItems]="productList.totalCount"
    (changePage)="onChangePage($event)"
  ></app-pagination>
</div>
}
